<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TbTestMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.TbTest">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="bill_order_code" jdbcType="VARCHAR" property="billOrderCode" />
  </resultMap>
</mapper>